.row{
    margin: 30px;
}

#headline{
    text-align: center;
}

#feature_img{
    width: 100%;
    padding: 20px;
    max-width: 400px;   
}

.card-body{
    text-align: center;
}

p{
   font-size: 18px; 
}

.fig-grid{
    width: 100%;
}

h1, h2{
    text-align: center;
}

/* body{
    background-color: aliceblue;
} */

body {
  background-color: gainsboro;
}